{
    "root": true,
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "settings": {
        "react": {
            "version": "16.6"
        }
    },
    "plugins": [
        "import",
        "chai-friendly",
        "jsx-a11y",
        "react"
    ],
    "extends": [
        "plugin:import/errors",
        "plugin:react/recommended",
        "eslint:recommended"
    ],
    "rules":{
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2,
        "react/prop-types": 0,
        "indent": ["error", 4],
        "react/no-deprecated": 1
    }
}
