**/__mocks__
**/coverage
**/jest
**/src
**/jest.config*
**/junit.xml
**/tsconfig.*
**/webpack.config.*
**/.commitlintrc*
**/.codeclimate.yml
**/.eslintignore
**/.eslintrc*
**/.husky
**/.releaserc*
**/.gitattributes
**/.gitignore
**/.circleci
**/.storybook