coverage
jest
src
node_modules
jest.config*
junit.xml
tsconfig.*
webpack.config.*
coveralls.*
stats.*
styleguide.config.*
.commitlintrc*
.codeclimate.yml
.eslintignore
.eslintrc*
.husky
.releaserc*
.gitattributes
.gitignore
.circleci
.storybook
.vscode
.commitlintrc*
.editorconfig