coverage
docs
jest
src
node_modules
@types
jest.config*
junit.xml
index.ts
tsconfig.*
typedoc.*
webpack.config.*
coveralls.*
stats.*
styleguide.config.*
.commitlintrc*
.codeclimate.yml
.eslintignore
.eslintrc*
.husky
.releaserc*
.gitattributes
.gitignore
.circleci
.storybook
.vscode
.commitlintrc*
.editorconfig