body {
  font-family: Arial;
}

.fluid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.fluid__instructions {
  flex: 0 0 auto;
  margin: 0 20px;
}

a {
  color: black;
}

a:hover {
  color: #666;
}

.code {
  font-family: Courier New, Courier, monospace;
}

@media (min-width: 480px) {
  .fluid {
    flex-direction: row;
  }

  .fluid__image-container{
    flex: 0 0 30%;
    margin: 20px 0 20px 20px;
  }

  .fluid__instructions {
    flex: 0 0 50%;
    padding-top: 30px;
  }
}
